<header>
  <h1>
    Welcome Home.
  </h1>
  <section>
    <p>
      Home of the Webpacker App.
    </p>
  </section>
  <h6>We're using Rails <%= Rails.version %></h6>
</header>

<hello-angular>Loading...</hello-angular>

<%= javascript_pack_tag 'hello_angular' %>
